<!-- {% load static %} -->
<!DOCTYPE html>
<html>

<head>
    <!-- 填充块1. 标题 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1445497_ttw0sz5qwfa.css">
    <!-- 页面样式 -->
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <!-- 代码高亮样式 -->
    <link rel="stylesheet" href="{% static 'css/highlights/vs.css' %}">

    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />
    <!-- jq在最上面 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>

    <!-- 1. 导航栏-->
    <nav class="navbar navbar-fixed-top navbar-dark">

        <!-- logo -->
        <div class="navbar-logo left">
            <a href="#">
                <!-- 可图片 可文字-->
                Hello_stafen
            </a>
        </div>
        <!-- 导航list -->
        <ul class="navbar-list left">
            <!-- 普通链接 -->
            <li class="{% block nav_主页_active %} {% endblock %}">
                <a href="/" id="home">
                    <i class="iconfont icon-jia"></i>
                    首页
                </a>
            </li>
            <li class="{% block nav_博客_active %} {% endblock %}">
                <a href="{% url 'blog:post_list' %}" id="blog">
                    <i class="iconfont icon-boke"></i>
                    博客
                </a>
            </li>

            <!-- 下拉链接  -->
            <li class="dropdown {% block nav_分类_active %}{% endblock %}">
                <a href="{% url 'blog:tag_list' %}" id="tag">
                    <i class="iconfont icon-dangan"></i>
                    分类
                </a>
                <ul class="navbar-sub-list clearfix" role="menu">
                    <!-- 这里的参数还可以动态换成标签内容吗？-->
                    <!-- 注意 这里的参数传递用 字符串 -->
                    <li><a href="{% url 'blog:post_list_by_tag' tag_slug='java' %}"> Java </a></li>
                    <li><a href="{% url 'blog:post_list_by_tag' tag_slug='python' %}"> python </a></li>
                    <li><a href="{% url 'blog:post_list_by_tag' tag_slug='ruby' %}"> ruby </a></li>
                </ul>
            </li>
        </ul>

        <!-- 搜索框表单--  action = 相应请求(为get请求)添加在form表单中!!-->
        <div class="navbar-search right">
            <form action="{% url 'search' %}">
                <!-- 搜索框 -->
                <input type="text" name="kw" class="form-control" placeholder="搜索" autocomplete="off">
                <!-- 按钮 -->
                <button type="submit" class="btn btn-default ">
                    <i class="iconfont icon-sousuo"></i>
                </button>
            </form>
        </div>

    </nav>

    <!-- banner -->
    {% block banner %}
    {% endblock %}

    <!-- 2. 主内容区 -->
    <div class="main clearfix" id="main">

        <!-- 填充块：内容区 -->
        {% block content %}
        {% endblock %}

        <!-- 侧边栏 -->
        <div class="sidebar">
            <!-- check区 -->
            <input type="checkbox" id="check"/>
            <label for="check">
                <i id="open" class="iconfont icon-youjiantou"></i>
                <i id="close" class="iconfont icon-zuojiantou"></i>
            </label>
        
            <!-- sidebar区 -->
            <div class="sidebar-wrapper">
                
                <aside class="Bytag">
                    <h4 class="title slide-btn">
                        <i class="iconfont icon-fenlei"></i>
                        分类目录
                    </h4>
                    <ul class="content">
                        {% for tag in all_tags %}
                            <li>
                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                    {{ tag }} ({{ tag.posts_count }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
        
                <aside class="Bydate">
                    <h4 class="title slide-btn">
                        <i class="iconfont icon-rili"></i>
                        文章归档
                    </h4>
                    <ul class="content">
                        <!-- 遍历字典的每项，并将每项的键和值解包 -->
                        {% for date_obj, posts_count in all_date.items %}
                            <li>
                                <!-- url 反转 -->
                                <a href="{% url 'blog:post_list_by_date' date_obj.year date_obj.month %}">
                                    {{ date_obj.year }}年{{ date_obj.month }}月
                                    ({{ posts_count }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
  
        <!-- 公告栏 -->
        <div class="board right">
            <div class="header">
                公告栏
            </div>
            <div class="body">
            </div>
        </div>

    </div>

    <!-- 3. footer区 必有-->
    <div class="footer">
    </div>


    
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>

</body>

</html>