<!-- {% load static %} -->
<!DOCTYPE html>
<html>

<head>
    <!-- 填充块1. 标题 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1445497_ttw0sz5qwfa.css">
    <!-- 页面样式 -->
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <!-- 代码高亮样式 -->
    <link rel="stylesheet" href="{% static 'css/highlights/vs.css' %}">

    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon" />
    <!-- jq在最上面 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>

    <!-- 1. 导航区 必有 -->
    <nav class="nav nav-fixed-top">

        <!-- logo -->
        <div class="nav-logo left">
            <a href="#">
                <!-- 可图片 可文字-->
                Hello_stafen
            </a>
        </div>
        <!-- 导航list -->
        <ul class="nav-list left">
            <!-- 普通链接 -->
            <li class="{% block nav_主页_active %} {% endblock %}">
                <a href="/" id="home">
                    <i class="iconfont icon-jia"></i>
                    首页
                </a>
            </li>
            <li class="{% block nav_博客_active %} {% endblock %}">
                <a href="{% url 'blog:post_list' %}" id="blog">
                    <i class="iconfont icon-boke"></i>
                    博客
                </a>
            </li>

            <!-- 下拉链接  -->
            <li class="dropdown {% block nav_分类_active %}{% endblock %}">
                <a href="{% url 'blog:tag_list' %}" id="tag">
                    <i class="iconfont icon-dangan"></i>
                    分类
                </a>
                <ul class="nav-sub-list clearfix" role="menu">
                    <!-- 这里的参数还可以动态换成标签内容吗？-->
                    <!-- 注意 这里的参数传递用 字符串 -->
                    <li><a href="{% url 'blog:post_list_by_tag' tag_slug='java' %}"> Java </a></li>
                    <li><a href="{% url 'blog:post_list_by_tag' tag_slug='python' %}"> python </a></li>
                    <li><a href="{% url 'blog:post_list_by_tag' tag_slug='ruby' %}"> ruby </a></li>
                </ul>
            </li>
        </ul>

        <!-- 搜索框表单--  action = 相应请求(为get请求)添加在form表单中!!-->
        <div class="nav-search right">
            <form action="{% url 'search' %}">
                <!-- 搜索框 -->
                <input type="text" name="kw" class="form-control" placeholder="搜索" autocomplete="off">
                <!-- 按钮 -->
                <button type="submit" class="btn btn-default ">
                    <i class="iconfont icon-sousuo"></i>
                </button>
            </form>
        </div>

    </nav>

    <!-- banner -->
    {% block banner %}
    {% endblock %}

    <!-- 2. 主内容区 -->
    <div class="main clearfix" id="main">

        <!-- 填充块1：侧边栏 -->
        <div class="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>

        <!-- 填充块2：内容区 -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <!-- 3. footer区 必有-->
    <div class="footer">
    </div>


    
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>

</html>