{% extends "base.html" %}
{% load static %}
<!-- 标题块 -->
{% block title %}主页|HelloStafen{% endblock %}

<!-- 激活块 -->
{% block nav_主页_active %}active{% endblock %}


<!-- 2. 横幅区  -->
{% block banner %}
	<div class="banner">
		<!-- 标语 -->
		<div class="intro">
			<h1 class="title">Hello_stefan</h1>
			{% if motto.famous_saying %}
				<p id="content"> {{ motto.famous_saying }} </p>
			{% else %}
				<p id="content"> {{ motto }} </p>
			{% endif %}
			<p id="author" style="text-align: right"> ——  {{ motto.famous_name }}  </p>
		</div>
		<!-- 更多 -->
		<div class="more">
			<span>READ MORE</span>
			<i class="iconfont icon-jiantou8"></i>
		</div>
	</div>
{% endblock %}


<!-- 内容块 -->
{% block content %}
	<div class="content">

		<h1 class="pageTitle">
			{% block pageTitle %} My Notes {% endblock %}
		</h1>
		
		{% include "components/list.html" %}
		{% include "components/pagination_list.html" %}
		<script src="../static/js/home.js"></script>
		<!-- 直接引入静态文件,模板引入好像不行 -->
	</div>	
	
{% endblock %}




	

