{% extends "base.html" %}

<!-- 标题块 -->
{% block title %}我的博客|搜索{% endblock %}



<!-- 内容块 帖子列表(搜索到的)-->
{% block content %}

	<div class="content">
	
		<h1 class="pageTitle"> 
			搜索标题包含 
			<span  class="kw">{{ search_keyword }}</span> 的文章
			({{ posts.paginator.count }} 个结果)
		</h1>

		{% include "../components/list.html" with posts=posts %}

	</div>
	<style>
		.kw {
			color: orange;
		}
	</style>
	<script >
		// 搜索的关键词高亮显示
		turnLight()
		function turnLight() {

			// 构建关键词的html
			var kw = document.getElementsByClassName("kw")[0].innerText
			var kwHtml = "<span class='kw'>"+ kw +"</span>"

			// 获取标题
			var titles = document.getElementsByClassName("post-list")[0].getElementsByClassName("title")

			// 循环获取每个标题下的a标签文本，替换成kwHtml
			for (var i = 0; i < titles.length; i++) {
				let a = titles[i].getElementsByTagName("a")[0]
				a.innerHTML = a.innerHTML.replace(kw, kwHtml)
			}
		}

	</script>
{% endblock %}




