{% extends "base.html" %}

<!-- 标题块 -->
{% block title %}我的博客|搜索{% endblock %}



<!-- 内容块 帖子列表(搜索到的)-->
{% block content %}

	<div class="wrapper">
	
		<h1 class="title"> 搜索 {{ search_keyword }} , 共搜到{{posts.paginator.count}}个结果 </h1>

		{% include "../components/list.html" with posts=posts %}

	</div>

	<!-- 该页面特殊的样式, 为了使list这一模板独立 -->
	<style>
		/* list包裹器 */
		.wrapper { 
			padding: 0 40px;
		}
		/* 标题 */
		.content .wrapper>.title {   
			margin-bottom: 30px;
		}
		</style>
{% endblock %}




