/* base.html 的样式：被其他html文件继承 */
@charset "utf-8";

html {
    scroll-behavior: smooth;
}
body {
    width: 100%; /* 无法设置为无法滚动的解决！！！ */
    
    background-color: rgb(231, 226, 226);
    font-family: "微软雅黑", freight-sans-pro, helvetica, sans-serif; 
    font-size: 16px;

    /* 取消蓝色背景 */
    -webkit-tap-highlight-color: transparent;
}


/* a标签样式 ———— 各区域不同 */
    /* 导航栏 */
.navbar a:hover,
.navbar li.active>a {
    color: #ea6f5a;
}
.navbar .navbar-logo a:hover {
    color: black;
}
    /* 标签 */
.tags a {       
    color: #337ab7;
}
.tags a:hover {       
    text-decoration: underline;
}


/* 1. 导航区 */
.navbar {
    display: flex;
    height: 50px;
    transition: transform .3s;
    background-color: #f8f8f8;
    box-shadow: 0 0 5px #888;
}
/* 导航栏 固定位置的类名 */
.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
/* 导航栏 专属动态行为的类名 ———— 向上隐藏 */
.navbar-slide-up {
    transform: translateY(-100%);
}
/* 导航栏 专属背景的类名 */
.navbar-transparent {
    background-color: transparent;
}
   

    /* logo区 */
.navbar .navbar-logo {
    display: inline-block;
}
.navbar .navbar-logo a {
    display: inline-block;
    line-height: 20px;
    padding: 15px;
}
    /* 交替按钮 */
.navbar-toggle {
    float: right;  /* 靠右 */
    margin-right: 1.2em;
    display: none;    
}
.navbar-toggle i {
    color: #666;
    line-height: 50px; 
    font-size: 20px;
    padding: 3px 14px;
    border: 1px solid #cecece;
    border-radius: 2px;
}


/* 坍塌区 */
@media screen and (min-width:768px) {
    .navbar-collapse {
        display: flex!important;  /* 为了覆写内联样式 */
        flex: 1;
        justify-content: space-between;
    }
}

/* list区 */
.navbar .navbar-list {
    display: flex;
}
.navbar .navbar-list li a {
    display: block;
    line-height: 20px;
    padding: 15px;
}
/* 二级菜单 */
.navbar .navbar-list .dropdown {
    position: relative;
}
.navbar .dropdown .navbar-sub-list {
    /*width: ;*/
    position: absolute;   /* 定位 */
    top: 50px;
    left: 0; 
    background-color: #transparent;
    
    opacity: 0;
    transition: opacity .5s;
}
/* 动态 */
/* 一级菜单激活二级菜单 */
.navbar .dropdown:hover .navbar-sub-list{
    opacity: 1;
}
/* 我的  下拉菜单的字体调小*/
#my-sub {
    font-size: 13px;
}

    /* 3. 搜索框 */
.navbar .navbar-search {
    height: 100%;
    margin-right: 30px;
    position: relative;
}
.navbar .navbar-search .form-control{
    width: 150px;
    height: 30px;
    padding: 0 40px 0 20px;
    box-sizing: border-box;

    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;

    vertical-align: -10px;

    transition: width .5s;
}
.navbar .navbar-search .btn{
    position: absolute;  /* 定位 */
    top: 26%;
    right: 2%;  

    border-radius: 50%;   /* 样式：大小*/
    height: 25px;
    width: 25px;
}
.navbar .navbar-search .form-control:focus{
    width: 240px;
    outline: none;
}
.navbar .navbar-search .form-control:focus + .btn{
    background-color: #969696;
    color: #fff;
}
.navbar .navbar-user {
    top: 60px;
    right: 0;
    padding: 10px;
    border: 1px solid #ccc; 
    cursor: pointer;
}


/* 在小屏幕时*/
@media screen and (max-width:768px)  {
    .navbar {
        display: block;  /* 为了让brand独占一行，将list挤下去 */
    }
    /* 默认行向排列，小屏幕时都为列向排列 */
    .navbar-collapse,
    .navbar-list {
        flex-direction: column;
    }
    /* 坍塌区消失 */
    .navbar-collapse {
        text-align: center;
        background-color: #fff;

        display: none;
    }
    /* 交替按钮出现 */
    .navbar-toggle {
        display: inline-block;
    }
    /* 二级菜单不要了 */
    .navbar-sub-list {
        display: none;
    }
    /* 我的二级菜单还是要显示*/
    #my-sub {
        display: block;
        position: static;
        height: 0;
        opacity: 0;
        transition: height .3s ,opacity .4s;  
    }
    #my #my-sub.show{
        height: 150px;
        opacity: 1;
    }
    

    /* 表单占满 */
    .navbar .navbar-search {
        padding-bottom: 12px;
        padding-left: 12px;
    }
    .navbar .navbar-search .form-control,
    .navbar .navbar-search .form-control:focus {
        width: 100%;
    }

    /* 重置激活项的样式 */
    .navbar .navbar-list li:hover {
        background-color: rgb(245,245,245);
    }
    .navbar .navbar-list li {
        border-bottom: 1px solid #f0f0f0;
    }
    .navbar .navbar-list li.active a {
        color: #ea6f5a;
    }
    .navbar .navbar-list li.active:hover a {
        color: #ea6f5a;
    }
    .navbar .navbar-list li:hover a {
        color: #333;
    }
}



/* 2. 横幅区 */
.banner {
    /* height: 100vh; */  /* 浏览器不兼容 */
    transition: height .7s, opacity 1.4s;

    font-family: 'Playball',cursive;
    opacity: .7;
    background: url(../img/banner2.jpeg) no-repeat fixed; 
    background-size: 100% 100%;

    position: relative;
    
}
.banner::after {  /* 伪元素蒙版 */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.banner .intro {
    /* 可以用弹性布局 */
    position: absolute;
    width: 45%;
    height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto;

    color: #fff;  
    text-align: center;
    line-height: 1.6em;
    /* 字体阴影 */
    text-shadow: 0 3px 6px rgba(0,0,0,.5);
}
.banner .title{
    margin-bottom: 0.5em;
    font-size: 2.5em;
}
.banner .more {
    position: absolute;
    width: 120px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    /* 内部文字 */
    text-align: center;
    line-height: 30px; 
    font-size: 16px;
    color: #ccc;
    /* 效果 */
    cursor: pointer;
    transition: padding .5s;
}
.banner .more i {
    
    display: block;
}
.banner .more:hover {
    padding-bottom: 6px;
}
@media screen and (max-width:768px) {
    .banner .intro {
        width: 60%;
    }
}

/* 3. main区 */
/* 定义动画 多个关键帧 */
@keyframes animate-slide-in-down{
    from {
        transform:translateY(30px);
        opacity: 0;
    }
    to {
        transform:translateY(0);
        opacity: 1;
    }
}
.main {  
    display: flex;  
    padding-left: 40px;
    padding-top: 60px;  /* 这个防止被遮盖，什么时候都要的 */
    
    animation: animate-slide-in-down .5s;
}
/* content区 */
/* 整体 */
.main > .content .pageTitle { 
    margin-bottom: .5em;
    font-weight: lighter;  
}
.main > .content {  
    flex: 4;
    /* 设置最小高度 */
    min-height: 600px; 
    padding: 0 5%;
    transition: margin .5s;
}

/* 在小屏幕时*/
@media screen and (max-width:768px) {
    /* 调整各个距离 */
    .main {
        display: block;
        padding-left: 0;
    }
    .main > .content {  
        padding: 0;
    }
    .main > .content .panel-info {
        margin-bottom: 0;
        border: 1px solid #ccc;
    }
    .main > .content .pageTitle {
        margin-left: .5em;
    }
    .main > .content .pager {  
        margin: 1em 0;
    }
    
}




/* 4. footer */
/* 加body选择器，防止改变别的元素的样式 */
body > .footer {
    margin-top: 10px;
    padding: 20px;
    background-color: #EFEAEE;
    text-align: center;
    font-size: 15px;
}


/* 公告栏 */
.board {
    flex: 1;
    margin-right: 20px;
    margin-top: 36px;

    font-size: 14px;
}
.board .newest-box,
.board .hottest-box {
    min-height: 100px;
    padding: 6px;
}
.board .title {
    height: 2em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
    padding: 20px 20px 0 0;
    font-size: 18px;
}
.board .item {
    margin-bottom: 2px;
    padding: 4px;
}

/* 公告栏 在小屏幕时*/
@media screen and (max-width:768px) {
   
    /* 以下消失: 有些不写在这里*/
    .sidebar {
        display: none;
    }
    .board {
        display: black;
        float: none;

        font-size: 16px;
        margin-right: 0;
    }
    .board .title {
        border-bottom: 2px solid #ccc;
    }
    .board .item-list{
        border: .5px solid #ccc;
        margin-top: 20px;
        background-color: rgba(249, 251, 256,0.5);
        border-radius: 6px;
        padding: 20px;
    }
    .board .item {
        margin-bottom: 0;
        padding: 10px;
        padding-left: 0;
        border-bottom: .5px solid #ccc;  
    }
}
