/* 博客详情页 content的样式 */
@charset "utf-8";
/* 头部信息 */
.content {
    /* min-height: 800px; */
    flex: 3;
    padding: 0 5%;
}
.content .header {
    background-color: rgb(245, 245, 245);
    border: 2px solid #ddd;
    border-bottom: none;

    padding: 10px 15px;
    margin: 0 -15px;
    box-shadow: 8px 11px 20px rgb(194, 180, 180);
}
.content .header .title {
    margin: 10px 0;
    text-align: center;
}
.content .header .info .time {
    margin-right: 10px;
}
.content .header .info .tags  {
    margin: 10px 0 ;
}


/* 主体内容 */
.content .body {
    min-height: 500px;
    padding: 25px;

    background-color: rgba(241, 235, 235, 0.8);
    border: 2px solid #ddd;    
}

@media screen and (max-width:768px) {
    .content {
        padding: 0 10px;
    } 
    .content .body {
        padding-bottom: 0;
    }
}