@charset "utf-8";
* {
    margin: 0;
    padding: 0
}
li {
    list-style: none
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: black;
}

em,i {
    font-style: normal
}
img {
    border: 0;
    vertical-align: middle
}
/* 表单样式重写 */
form {
    outline: none;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}
