<!-- 
	详情页的页码模板
	参数    
			{{ before_post }} 上页页面对象
			{{ after_post }}  下页页面对象
 -->
<div class="pager">

	<!-- 上一篇 -->
	{% for before_post in before_post %}
	
	<a href="{{ before_post.get_absolute_url }}">
		<i class="iconfont icon-shangyiyecu"></i>
		{{ before_post.title }}
	</a>
	{% endfor %}
	

	<!-- 下一篇 -->
	{% for after_post in after_post %}
	<a href="{{ after_post.get_absolute_url }}">
		{{ after_post.title }}
		<i class="iconfont icon-xiayiyecu"></i>
	</a>
	{% endfor %}

</div>

<style>	
	.pager {
		background-color: #ccc;
		display: flex;
		text-align: center;
		font-size: 1em;
	}
	.pager a {
		/* 弹性项 即为block */
		padding: .5em;  
		flex: 1;
	}
	.pager a:hover {
		background-color: lightgoldenrodyellow;
		
	}

</style>