<!-- 
	列表页的页码模板: 适用于多个对象
	参数    {{ posts }} 为页面对象
			{{ page_range }} 为要显示的页码列表

			<a标签的参数?page= (用于分页)  
						kw=   (用于搜索)
 -->

<div class="pager">

	<ul>
		<!-- 上页 -->
		<li id="previous" >
			<i class="iconfont icon-shangyiyecu"></i>
		</li>

		<!-- 页码列表 -->
		<input id="btn" value="1"/>
		

		<!-- 下页 -->
		<li id="next" value="2"  >
			<i class="iconfont icon-xiayiyecu"></i>
		</li>

		<!-- {% for page in page_range %}
			{% if page == posts.number %}
				<li class="active" page="{{ page }} ">
					<a class="active" href="#">
						{{page}}
					</a>
				</li>
			{% else %}
				<li page="{{ page }}">
					<a href="#">{{page}}
					</a>
				</li>
			{% endif %}
		{% endfor %} -->
	
  </ul>

</div>

<!-- 将分页样式和分页html 写在一起，作为一个组件！！ -->
<style type="text/css">
	/* 分页区 */
	.pager {
		text-align: center;    /* 整体居中 */
		margin-bottom: 50px;
	}
	.pager li,
	.pager input{
		display: inline-block;  /* li并排显示 */
		line-height: 20px;      /* 内部文字居中 */
		text-align: center;
		font-size: 20px;

		margin: 0 2px;         /* li之间的间隔 */
		cursor: pointer;
	}
	/* 圆形按钮 */
	.pager input {
		/* 圆形按钮 */
		height: 20px;   
		width: 20px;
		border-radius: 50%;
		padding: 10px;
		border: 1px solid #cdd1d4;

		background-color: #5e72e4;
		color: white;

		cursor: text;
	}

</style>


