<!-- 
    侧边栏模板：可复用
    所有的  分类  和  日期
 -->
<!-- {%  load static %} -->
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
<!-- 好像只能用  加载静态文件的方式来引入，直接引入不行? -->


    <!-- check区 -->
    <input type="checkbox" id="check"/>
    <label for="check">
        <i id="open" class="iconfont icon-youjiantou"></i>
        <i id="close" class="iconfont icon-zuojiantou"></i>
    </label>

    <!-- sidebar区 -->
    <div class="sidebar-wrapper">
        
        <aside class="Bytag">
            <h4 class="title slide-btn">
                <i class="iconfont icon-fenlei"></i>
                分类目录
            </h4>
            <ul class="content">
                {% for tag in tags %}
                    <li>
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                            {{ tag }} ({{ tag.posts_count }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <aside class="Bydate">
            <h4 class="title slide-btn">
                <i class="iconfont icon-rili"></i>
                文章归档
            </h4>
            <ul class="content">
                <!-- 遍历字典的每项，并将每项的键和值解包 -->
                {% for date_obj, posts_count in all_date.items %}
                    <li>
                        <!-- url 反转 -->
                        <a href="{% url 'blog:post_list_by_date' date_obj.year date_obj.month %}">
                            {{ date_obj.year }}年{{ date_obj.month }}月
                            ({{ posts_count }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>

