@charset "utf-8";
body {
    background: url(/static/img/1.jpg);
    background-repeat: no-repeat;
    background-position: -150px -170px;
}
.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom right, rgba(161, 147, 147, 0.4),rgba(0,0,0,.7));
}
.app {
    height: 100px;
    width: 320px;
    margin: 0 auto;
    transform: translateY(250px);
    
    color: #fff;
    font-size: 50px;
}
.app input[type="text"]{
    height: 50px;
    width: 60px;
    vertical-align: 3px;

    padding: 0 10px;
    color: #fff;
    font-size: 40px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
}
.app input[type="text"]:focus{
    border: 1px solid rgba(255,255,255,0.9);
}