/* base.html 的样式：被其他html文件继承 */
@charset "utf-8";
body {
    background-color: rgb(231, 226, 226);
    font-family:helvetica, sans-serif; 
}
/* a标签样式 ———— 各区域不同 */
    /* 导航栏 */
.nav a:hover {
    color: rgb(226, 226, 177);
}
    /* 标签 */
.tags a {       
    color: #337ab7;
}
.tags a:hover {       
    text-decoration: underline;
}


/* 1. 导航区 */
.nav {
    height: 50px;
    /* background-color: #337ab7;  */
    background-color: rgba(82, 132, 175, 0.8);
    margin-bottom: 40px;
}

.nav-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
    /* 1. logo区 */
.nav .nav-header a{
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
    font-size: 22px;
}

    /* 2. li区 */
.nav .nav-list {
    float: left;
    font-size: 18px;
}
.nav .nav-list li {
    display: inline-block;
}
.nav .nav-list li a{
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
}
/* 二级菜单 */
.nav .nav-list .dropdown {
    position: relative;
}  
.nav .dropdown .nav-sub-list {
    position: absolute;   /* 定位 */
    top: 0px;
    left: 120px; 

    width: 285px;

    opacity: 0;
    transition: opacity 1s, left .5s;
}
.nav .dropdown .nav-sub-list li {
    float: left;
}

/* 动态 */
/* 激活的一级菜单 */
.nav .nav-list li.active {
    background-color: #fff;
}
.nav .nav-list li.active a {
    color: black;
}
/* 一级菜单激活二级菜单 */
.nav .dropdown:hover .nav-sub-list{
    opacity: 1;
    left: 90px;
}
/* 二级菜单鼠标经过 */
.nav .dropdown .nav-sub-list li:hover {
    background-color: #fff;
}
.nav .dropdown .nav-sub-list li:hover a {
    color: black;
}

    /* 3. 搜索框 */
.nav .nav-search {
    height: 100%;
    margin-right: 30px;
    position: relative;
}
.nav .nav-search .form-control{
    width: 150px;
    height: 30px;
    padding: 0 40px 0 20px;
    box-sizing: border-box;

    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;

    vertical-align: -10px;

    transition: width .5s;
}
.nav .nav-search .btn{
    position: absolute;  /* 定位 */
    top: 12px;
    right: 4px;  

    border-radius: 50%;   /* 样式：大小*/
    height: 25px;
    width: 25px;
}
.nav .nav-search .form-control:focus{
    width: 240px;
    outline: none;
}
.nav .nav-search .form-control:focus + .btn{
    background-color: #969696;
    color: #fff;
}


/* 2. 横幅区 */
.banner {
    opacity: .7;
    height: 400px;
    background: url(../img/banner2.jpeg) no-repeat fixed; 
    background-size: 100% 400px;

    position: relative;
}
.banner::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.banner .intro {
    /* 可以用弹性布局 */
    position: absolute;
    width: 240px;
    height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    color: #fff;  
    text-align: center;
    line-height: 40px;
}


/* 3. main区 */
.main {  
    padding-left: 40px;
    padding-top: 40px;
}
/* content区 */
/* 整体 */
.main > .content {  
    width: 70%;
    padding: 0 40px;
    margin-right: 50px;
    transition: margin .5s;
}
.main > .content .pageTitle { 
    margin-bottom: 20px;
}
