/* 列表模板 的样式 */
@charset "utf-8";
/* 颜色方案 */
/*   color: #fff;
     background-color: #337ab7;
     color: #00abff;
     color: lightseagreen;
*/

    /* 一个面板展示信息 */
.panel-info {    /* 内部间隔 + 外边框 */
    margin-bottom: 20px;
    padding: 15px 20px;
    
    background-color: rgb(245, 240, 240);
    /* 边框 + 阴影 */
    border: 2px solid #ccc;
    /* 阴影: 3种  */
    /* box-shadow: 0px 0px 5px black; */
    /* box-shadow: 0px 0px 5px #ccc; */
    box-shadow: 20px 18px 18px #c3c3c3;
}
.panel-info .header {  /* 总体字体 */
    font-size: 18px;
}
.panel-info .footer {
    font-size: 16px;
}

.panel-info .header .title {  /* 标题下边距 + 下边框 */
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;

    margin-bottom: 10px;
}
.panel-info .footer div {       
    display: inline;
}

.panel-info:hover{
    background-color: rgba(173,216,230,.5);
    /* 透明的lightblue */
}





