/* 分类页 content的样式 */
@charset "utf-8";

.sidebar {
    display: none;
}

img {
    opacity: .8;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;  /* 方便计算 */
    /* justify-content: space-between; */
}
.tag-list .tag-item {
    flex: 1;
    flex-basis: 25%;

    margin: 0 .8em 24px;

    max-width: 26em;
    height: 15em;
}
/* 面板区 */
.tag-item .panel-info {
    height: 100%;
    position: relative;

    display: flex;
}
/* 大图 */
.panel-info .big {
    flex: 2.3;

    background: url("../img/nail_big.jpg");
    background-size: cover;
    background-position: center;
    opacity: .8;

    margin-right: 4px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;  /* 居中 */
    align-items: center;
}
.panel-info .big::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.panel-info .big .title {   /* 标题 */
    color: #fff;         /* 颜色 */
    font-size: 3em;       /* 字体 */

    margin-bottom: 8px;
}
.panel-info .big .line {   
    width: 2.2em;
    height: 0.1em;
    background: #FF9800;
} 


/* 小图 */
 .panel-info .small {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel-info .small .thumbnail {
    height: 49%;
    position: relative;
}
    /*  内部*/
.panel-info .small .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.panel-info .small .thumbnail span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    color: #fff;
    background-color: rgba(255, 193, 7 , .8);
    text-align: center;
    line-height: 4em;
    font-size: 2.2em;
    font-weight: 900;
}


/* 定位元素居中 的进阶版！！ */
    /* 1.0交互形式： 整体opticty */
.panel-info a {
    position: absolute;   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    opacity: .4;
    background-color: #7b9ab9;
    
}
/* 2.0交互形式：蒙版移动*/
.panel-info a:hover {
    opacity: 0;
}

@media screen and (max-width:768px) {
    .tag-list {
        padding: 0 10px;
    } 
    /* 调整一个tag的高度，因为宽度变窄了 */
    .tag-list .tag-item {
        height: 10em;
    }
    .panel-info .big .title {
        font-size: 1.8em;
    }
    .panel-info .small .thumbnail span {
        font-size: 1.4em;
        line-height: 4em;
    }
}